//colors
@import "colors";

.header__wrapper {
  z-index: 1000;
  height: 100px;
  font-size: 18px;
  background-color: $main-black;

  .header__logo {
    color: $logo-color;
    min-width: 50px;
    max-width: 200px;
    margin: 0 !important;
    padding-left: 0 !important;
  }

  .header__nav {
    text-align: center;

    .navbar-nav {
      background-color: $main-black;

      .nav-item {
        height: 100px;
        line-height: 100px;


        &:hover {
          border-bottom: 3px solid $main-yellow;
        }

        .nav-link {
          padding: 0 8px;
          color: $main-white;

          &:hover {
            color: $main-yellow;

          }
        }

        .dropdown-toggle {

          &:after {
            display: none;
          }
        }

        .dropdown-menu {
          width: 450px;
          line-height: 14px;
          background: $main-black;
          border-bottom: 5px solid $main-yellow;

          & .dropdown-menu > .dropdown-left, .dropdown-right > .dropdown-header, .dropdown-item {
            color: $main-white;
          }

          .dropdown-left {
            width: 48%;
            float: left;
            padding: 10px;

            .dropdown-header {
              color: $main-white;
            }
          }

          .dropdown-right {
            width: 48%;
            float: right;
            padding: 10px;
          }

        }
      }
    }

    .header__buttons {
      min-width: 195px;
      background-color: $main-black;


      .sign-in__button {
        border-color: transparent;
        color: white;

        &:hover {
          background-color: transparent !important;
          color: $main-yellow;
          border-color: $main-yellow;
        }
      }
    }

    .lang-block {
      min-width: 100px;
      background-color: $main-black;


      .lang__button {
        color: white;
        border-color: transparent;

        &:hover {
          background-color: transparent !important;
          color: $main-yellow;
          border-color: $main-yellow;
        }
      }
    }
  }
}

.slider__wrapper {
  .carousel {
    .carousel-indicators {
      right: auto !important;
      cursor: pointer;

      li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      .active {
        background-color: $main-yellow;
      }
    }

    .carousel-inner {
      height: calc(100vh - 100px);

      .carousel-item {
        height: calc(100vh - 100px);

        .carousel-caption {
          width: 400px !important;
          text-align: left;
          bottom: 45%;

          .heroscreen_btn {
            width: 250px;
            height: 40px;
            font-weight: 500;
            color: $main-black;
          }
        }
      }
    }
  }
}
